@{
    ViewData["Title"] = "Головна";
}

<div class="text-center">
    <h1 class="display-4">Виберіть таблицю для перегляду</h1>
    <p><a asp-controller="Configs">Таблиця конфігурацій</a></p>
    <p><a asp-controller="Croupiers">Таблиця круп'є</a></p>
    <p><a asp-controller="GameLists">Таблиця учасників ігра</a></p>
    <p><a asp-controller="Games">Ігри</a></p>
    <p><a asp-controller="Players">Гравці</a></p>
    <p><a asp-controller="Tables">Столи</a></p>
</div>
