@{
    ViewData["Title"] = "Інформація о сторінці";
}
<h1>@ViewData["Title"]</h1>

<p>Лаба, моя, найкраща. І тут немає нічого забороненого, усі ціни вказані у ігрових фішках, які не маєть реальної цінності, тому не є азартними.<br> Дуйловський Ігор К-26</p>
